<div class='container' id='new-admin-form'>
	<%= bootstrap_form_for(@admin, url: (!!@admin.id ? admin_path(@admin) : admins_path), local: true, label_errors: true) do |f| %>
		<div class='form-row'>
			<%= f.text_field :first_name, wrapper: { class: 'col-6' }, placeholder: 'Required' %>
			<%= f.text_field :last_name, wrapper: { class: 'col-6' }, placeholder: 'Required' %>
		</div>
		<%= f.email_field :email, placeholder: 'Required' %>
		<%= f.password_field :password, placeholder: 'Required' %>
		<%= f.password_field :password_confirmation, placeholder: 'Required' %>
		<%= render partial: @submit, locals: { f: f } %>
	<% end %>
</div>