<div class='row'>
	<div class='col-12'>
		<h1 class='text-center'>Create an Administrator Account</h1>
	</div>
</div>
<div class='row'>
	<div class='container' id='new-admin-form'>
		<%= bootstrap_form_for(@admin, url: admins_path, local: true, label_errors: true) do |f| %>
			<div class='form-row'>
				<%= f.text_field :first_name, wrapper: { class: 'col-6' }, placeholder: 'Required' %>
				<%= f.text_field :last_name, wrapper: { class: 'col-6' }, placeholder: 'Required' %>
			</div>
			<%= f.email_field :email, placeholder: 'Required' %>
			<%= f.password_field :password, placeholder: 'Required' %>
			<%= f.password_field :password_confirmation, placeholder: 'Required' %>
			<%= f.submit "Save Details", extra_class: 'btn-block' %>
		<% end %>
	</div>
</div>
