<div class='row'>
	<div class='col-12'>
		<h1 class='text-center'>Administrator Login</h1>
	</div>
</div>
<div class='row'>
	<div class='container' id='login-form'>
		<% if flash[:notice] %>
			<div class='alert alert-danger'><%= flash[:notice] %></div>
		<% end %>
		<%= bootstrap_form_tag(url: admin_login_path, local: true) do |f| %>
			<%= f.email_field :email %>
			<%= f.password_field :password %>
			<%= f.submit 'Log In', extra_class: 'btn-block' %>
		<% end %>
	</div>
</div>