<tr class='row clickable-row'>
  <td class='col-4'><%= link_to recipe.dish_name, edit_recipe_path(recipe), class: 'link-unstyled' %></td>
  <% if recipe.published? %>
    <td class='col-2 text-center text-success'><%= icon('fas','check-circle') %></td>
  <% else %>
    <td class='col-2 text-center text-danger'><%= icon('fas','times-circle') %></td>
  <% end %>
  <td class='col-2'><%= time_ago_in_words(recipe.updated_at) %> ago</td>
  <td class='col-2 text-center'><%= recipe.ingredients.count %></td>
  <td class='col-2 text-center'><%= recipe.steps.count %></td>
</tr>