<div class='container' id='new-recipe-form'>
	<%= bootstrap_form_for(@recipe, url: recipes_path, label_errors: true) do |f| %>
		<div class='form-row'>
			<%= f.text_field :dish_name, wrapper: { class: 'col-9' }, placeholder: 'Required' %>
			<%= f.number_field :serves, wrapper: { class: 'col-3' }, value: 2, in: 1..12, step: 1  %>
		</div>
		<%= f.text_area :description %>
		<%= f.submit 'Add Details', extra_class: 'btn-block' %>
	<% end %>
</div>