<div class='row head-row' id='wizard-head'>
	<div class='col-12'>
		<h1 class='text-red font-serif'><%= icon('fa', 'edit', class: 'text-dark-teal') %>Recipe Editor</h1>
		<p class='lead' id='wizard-text'>Enter the name and description of the dish to get started.</p>
	</div>
</div>
<div class='row' id ='wizard-nav'>
  <div class='wizard-nav'>
    <div class='container'>
      <ul class='nav'>
        <li class='nav-item'>
          <%= link_to 'Description', '#', class: 'nav-link disabled' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Ingredients', '#', class: 'nav-link disabled' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Preparation', '#', class: 'nav-link disabled' %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class='row' id='wizard-content'>
	<%= render partial: 'form' %>
</div>