<div class='row' id='recipe-head'>
  <div class='col-4'>
    <div id='recipe-image'>
      <%= image_tag 'placeholder.jpg', class: 'img-fluid' %>
    </div>
  </div>
  <div class='col-8'>
    <h1><%= @recipe.dish_name %></h1>
    <p id='recipe-byline'>
      <span><%= @recipe.author.full_name %></span>
      <span>&bull;</span>
      <span><%= @recipe.published? ? @recipe.published_at.strftime("%B %-d, %Y") : 'Preview' %></span>
    </p>
    <p><%= @recipe.description %></p>
  </div>
</div>
<div class='row' id='recipe-stats'>
  <div class='col-12'>
    <dl class='row'>
      <dt class='col-2'>Serves:</dt>
      <dd class='col-2 text-right'><%= @recipe.serves %></dd>
      <dt class='col-2'>Total Prep Time:</dt>
      <dd class='col-2 text-right'><%= @recipe.display_total_prep_time %></dd>
      <dt class='col-2'>Active Prep Time:</dt>
      <dd class='col-2 text-right'><%= @recipe.display_active_prep_time %></dd>
    </dl>
  </div>
</div>
<div class='row' id='recipe-body'>
  <div class='col-4' id='recipe-ingredients'>
    <h3>Ingredients</h3>
    <ul class='list-unstyled'>
      <%= render @recipe.ingredients %>
    </ul>
  </div>
  <div class='col-8' id='recipe-directions'>
    <h3>Directions</h3>
    <ul class='list-unstyled'>
      <%= render @recipe.steps.order(step_order: :asc) %>
    </ul>
  </div>
</div>