<div class='container' id='new-ingredient-form'>
	<h4>Ingredient Picker</h4>
	<%= bootstrap_form_for(@ingredient, url: (@ingredient.id ? recipe_ingredient_path(@recipe, @ingredient) : recipe_ingredients_path(@recipe)), remote: true) do |f| %>
		<%= f.hidden_field :recipe_id, value: @recipe.id %>
		<div class='form-row' id='groceries-row'>
			<%= render partial: 'groceries/ingredient_form_row' %>
		</div>
		<div class='form-row' id='measurements-row'>
			<%= render partial: 'measurements/ingredient_form_row' %>
		</div>
		<%= f.text_field :comment, help: 'Keep it brief, e.g. "chopped"' %>
		<%= f.submit 'Update Ingredients', extra_class: 'btn-block' %>
	<% end %>
</div>