<div class='form-group col-6'>
	<label for='grocery_type'>Type</label>
	<select class='form-control' name='grocery_type' id='grocery_type'>
		<% @grocery_types.each do |grocery_type|%>
			<% if grocery_type == @grocery_type %>
				<option value="<%= grocery_type %>" selected><%= grocery_type %></option>
			<% else %> 
				<option value="<%= grocery_type %>"><%= grocery_type %></option>
			<% end %>
		<% end %>
	</select>
</div>
<div class='form-group col-6'>
	<label for='ingredient_grocery_id'>Ingredient</label>
	<select class='form-control' name='ingredient[grocery_id]' id='ingredient_grocery_id'>
		<% @groceries.each do |grocery|%>
			<option value="<%= grocery.last %>"><%= grocery.first %></option>
		<% end %>
	</select>
</div>