<div class='container' id='new-step-form'>
	<h4>Add Steps for Preparation</h4>
	<%= bootstrap_form_for(@step, url: (!!@step.id ? recipe_step_path(@recipe, @step) : recipe_steps_path(@recipe)), remote: true) do |f| %>
		<%= f.hidden_field :recipe_id, value: @recipe.id %>
		<div class='form-row'>
			<%= f.number_field :step_order, label: 'Order', wrapper: { class: 'col-3' }, value: (@step && @step.step_order ? @step.step_order : @recipe.next_step_index) %>
			<%= f.number_field :prep_time_value, label: 'Prep Time', wrapper: { class: 'col-3' }, value: 1 %>
			<%= f.select :prep_time_units, [['Seconds','seconds'],['Minutes','minutes'],['Hours','hours']], wrapper: { class: 'col-3' } %>
			<div class='col-3' id='active-check'>
				<div class='custom-control custom-checkbox custom-control-inline'>
			    <input type='checkbox' class='custom-control-input custom-control-inline' name='step[is_active]' id='step[is_active]' value="<%= @step && @step.is_active ? 1 : 0 %>">
			    <label class='custom-control-label' for='step[is_active]'>Active?</label>
			  </div>
			</div>
		</div>
		<%= f.text_area :instruction, rows: 8 %>
		<%= f.submit 'Update Steps', extra_class: 'btn-block' %>
	<% end %>
</div>