<div class='form-group col-2'>
	<label class="required" for="ingredient_amount">Amount</label>
	<input class="form-control" type="text" name="ingredient[amount]" id="ingredient_amount">
</div>
<div class='form-group col-4'>
	<label for='measurement_type'>Type</label>
	<select class='form-control' name='measurement_type' id='measurement_type'>
		<% @measurement_types.each do |measurement_type| %>
			<% if measurement_type == @measurement_type %>
				<option value="<%= measurement_type %>" selected><%= measurement_type %></option>
			<% else %>
				<option value="<%= measurement_type %>"><%= measurement_type %></option>
			<% end %>
		<% end %>
	</select>
</div>
<div class='form-group col-6'>
	<label for='ingredient_measurement_id'>Measure</label>
	<% if @measurement_type != 'Pieces' %>
		<select class='form-control' name='ingredient[measurement_id]' id='ingredient_measurement_id'>
			<% @measurements.each do |measurement| %>
				<option value="<%= measurement.last %>"><%= measurement.first %></option>
			<% end %>
		</select>
	<% else %>
		<input class='form-control' type='hidden' name='ingredient[measurement_id]' id='ingredient_measurement_id' value="<%= @measurements.first.last %>">
		<input class='form-control' type='text' name='ingredient[measurement_override]' id='ingredient_measurement_override'>
		<small class='form-text text-muted'>Leave blank for "pieces"</small>
	<% end %>
</div>